
link(rel="stylesheet" href="./style.css")

- const checkboxCount = 16;

section.addition
	for row in ["first", "second"]
		for val, i in Array(checkboxCount)
			input(type="checkbox" id=`check-${row}-${checkboxCount - 1 - i}`)

	for row, rowIdx in ["first", "second"]
		.labels(class=`${row}-labels`)
			span: span.placeholder
				.side.front
				.side.back
				.side.left
				.side.right
				.side.top
				.side.bottom
			for val, i in Array(checkboxCount)
				span: label(for=`check-${row}-${checkboxCount - 1 - i}`)
					.side.front
					.side.back
					.side.left
					.side.right
					.side.top
					.side.bottom

		span.number-display(class=row)

		.operator #{rowIdx ? "=" : "+"}

	span.result-display
		for val, i in Array(checkboxCount + 1)
			span: span.show-check(class=`check-${checkboxCount - i}`)
				.side.front
				.side.back
				.side.left
				.side.right
				.side.top
				.side.bottom
	
	span.number-display.sum


